<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>    
    	<class name="TestCases.Main_Class"/>
      <class name="TestCases.Log_In"/>
       <class name="TestCases.MemberSearch"/>
       <class name="TestCases.Workouts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
